body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#command {
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: white;
    width: 20vw;
    padding-left: 1%;
}

#main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

table{
    background-color: rgb(25, 25, 26);
    width: 300px;
    height: 470px;
    border-radius: 1rem;
}

#display {
    position: absolute;
    top: 5%;
    left: 5%;
    background: white ;
    width: 270px;
    height: 80px;
    display: block;
    border-radius: 1rem;
}

output {
    width: 260px;
    height: 20px;
    text-align: right;
    display: block;
    font-size: xx-large;
}

#history {
    color: green;
}

#answer {
    margin-top: 25px;
    margin-right: 10px;
}

#btns {
    position: absolute;
    top: 25%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    column-gap: 10px;
    row-gap: 10px;
}

.operand, .equal {
    background-color: orange;
    color: white;
}

button {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    font-size: x-large;
    border: black;
    transition: all .05s ease-in-out;
}

button:hover {
    background-color: green;
    transform: translateY(-0.2rem);
    color: white;
}

